
body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #e0e0e0;
  }
  

  .auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  

  .auth-form {
    background: #2c2c2c; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
  }
  

  .auth-form h1 {
    margin-bottom: 20px;
    color: #e0e0e0; 
  }
  

  .auth-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #3a3a3a; 
    color: #e0e0e0; 
  }
  
  .auth-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .auth-form button:hover {
    background-color: #0056b3;
  }
  
  .link {
    margin-top: 10px;
    text-align: center;
  }
  
  .link .register,
  .link .login {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
  }

  .link .register:hover,
  .link .login:hover {
    color: #0056b3;
  }
  