* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: #1e1e1e;
  color: #e0e0e0; 
}

ul,
ol {
  list-style: none;
}

#root {
  width: 100%;
  height: 100vh;
  background-color: #121212; 
  color: #e0e0e0; 
}

a {
  text-decoration: none;
  color: #bb86fc; 
}

a:hover {
  color: #3700b3
}